
.steps-container {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.steps-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  align-content: space-between;
  
}

.step-item {
  width: max-content;
}
.step-executed {
  background-color: #d4edda !important;
  border-left: 4px solid #28a745 !important;
}

.step-error {
  background-color: #f8d7da !important;
  border-left: 4px solid #dc3545 !important;
}

.step-item {
  transition: background-color 0.3s ease;
}