/* Main CSS file for common styles */

/* Button styles */
.primary-button {
  color: #fff;
  background-color: #1976d2;
  border-radius: 8px;
}

.primary-button:hover {
  background-color: #1565c0;
}

.danger-button {
  color: #fff;
  background-color: #d32f2f;
  border-radius: 8px;
}

.danger-button:hover {
  background-color: #c62828;
}

.default-button {
  color: rgba(0, 0, 0, 0.87);
  border: none;
}